## Dicas para acertar na Mega Sena

A maioria das pessoas que já ouviram falar sobre os prêmios da mega sena, com certeza já desejaram ganhar pelos um. Não é fácil, uma vez que deve-se apostar nos seis números sorteadoss de 01 a 60. Porém, ao termino desta pesquisa, você com certeza irá mudar a sua forma de jogar. 

Com base nas informações de todos os sorteios de 1996 a 2018, esse trabalho irá responder aos seguintes questionamentos:
- É interessante realizar uma aposta com alguns números consecutivos?
- E apostar em números na mesma linha vertical ou horizontal?
- Quais as dezenas mais e menos sorteados?

In [291]:
# Importando o pandas, matplotlib e lendo a base de dados.
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_excel('basedados.xlsx')
data.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

In [300]:
#Percorre linha a linha e verificar se têm dois número consecutivos, 
#se pelo menos dois números pertencem a uma mesma linha horizontal ou vertical
def verificacoes(rows):
    #O sorted ordena as núereros para facilitar a verificação.
    dezenas = sorted(rows[['Dezena1', 'Dezena2', 'Dezena3', 'Dezena4', 'Dezena5', 'Dezena6']])
    rows['Consecutivos'] = False
    rows['MesmaLinhaHorizontal'] = False
    rows['MesmaLinhaVertical'] = False
    
    for index,dezena in enumerate(dezenas[0:-1]):
        #Verifica se a dezena atual está dentro da mesma linha da dezena seguinte.
        #i representa a primeira coluna do jogo, variando de 10 em 10 começando do 1. 
        # Como se fosse "for i in [1,11,21,31,41,51]:"
        for i in range(1,60,10):
            #Para melhorar o processamento, não verificar caso já tenha sido confirmado que sorteio atual,
            #possui números pertencentes a uma mesma vertical
            if(rows['MesmaLinhaVertical'] == False and \
               dezena <= i+9 and dezena >= i and dezenas[index+1] >= i and dezenas[index+1] <= i+9):
                rows['MesmaLinhaHorizontal'] = True
                
        for i in dezenas[0:-1]:
            if(rows['MesmaLinhaVertical'] == False and dezena != i and str(dezena)[-1] == str(i)[-1]):
                rows['MesmaLinhaVertical'] = True
                
        #se o número seguinte menos o atual for igual a 1 é por que são consecutivos. 
        if dezenas[index+1]-dezena == 1:
            rows['Consecutivos'] = True

    return rows

#Configurando dataframe
data = data.apply(verificacoes, axis=1)

In [277]:
#Cálculo da porcentagem de sorteios com números consecutivos
#totalConsecutivos*100/totalSorteios
consecutivos = len(dataset.Consecutivos[dataset.Consecutivos == True])*100/len(dataset)
naoConsecutivos = 100-consecutivos;
totalSorteios = len(dataset)

In [294]:
print("Total de sorteios: {0}".format(totalSorteios))
print("Não consecutivos: {0:.2f}%".format(naoConsecutivos))
print("Consecutivos: {0:.2f}%".format(consecutivos))

Total de sorteios: 2025
Não consecutivos: 57.98
Consecutivos: 42.02